html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --------------
   Base Styles
-----------------*/


header {
  color: #000000;
  font-family: "Karla";
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.name {
  font-family: "Playfair Display";
  font-size: 75px;
  color: #202422;
  text-transform: uppercase;
  margin-right: auto;
  margin-bottom: 0;
}

.nav {
  padding: 0;
  margin-bottom: 30px;
}

li {
  margin-left: 15px;
  list-style-type: none;
}

.about {
  color: #ffa300;
}

.fg-gallery {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.text {
  width: 55%;
  padding-top: 20px;
  margin: 0 auto;
  font-family: "Source Serif Pro";
}

p {
  font-size: 20px;
  line-height: 35px;
}

.aboutpic {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 5px;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

footer {
  color: #000000;
  font-family: "Karla";
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

/* --------------
   Flex Box
-----------------*/

.header,
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.nav {
  width: 700px;
  justify-content: space-between;
}

/* --------------
   Link Styles
-----------------*/

a {
  text-decoration: none;
}
a:link {
  color: #363636;
}

a:visited {
  color: #363636;
}

a:hover {
  color: white;
  background-color: #363636;
}

a:active {
  color: #363636;
}

span.about:hover {
  color: white !important;
  background-color: #ffa300 !important;
}

span.home:hover {
  color: #363636 !important;
  background-color: white !important;
}

span.linkon {
  color: white !important;
  background-color: #363636 !important;
}

/* ----------------
   Fade-in on Load
-------------------*/

.text,
.fg-gallery,
.grid-container {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

