html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------
    Grid
------------ */

.grid-item {
  padding: 0;
  background-color: gray;
  color: white;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 300px 300px 300px;
  width: 81%;
  grid-gap: 6px;
}

.item1-1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item3-1 {
  grid-row-start: 2;
  grid-row-end: 4;
}

/* ----------------------------------
    Photos (Grid Background Images)
------------------------------------- */

.item1 {
  background-image: url("https://albertlisi.github.io/isawesome/img/1.jpg");
  background-size: cover;
  background-position: center;
}

.item2 {
  background-image: url("https://albertlisi.github.io/isawesome/img/2.jpg");
  background-size: cover;
  background-position: center;
}

.item3 {
  background-image: url("https://albertlisi.github.io/isawesome/img/3.jpg");
  background-size: cover;
  background-position: center;
}

.item4 {
  background-image: url("https://albertlisi.github.io/isawesome/img/4.jpg");
  background-size: cover;
  background-position: center;
}
